<form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetpasswordSubmit()" aria-labelledby="Forget-Password-form-title">
  <h2 class="text-2xl font-bold text-gray-900 mb-8">Forget your password</h2>

<!-- Email -->
<div class="input-group w-full mb-8 rounded-lg bg-colorInput relative">
  <div class="relative w-full rounded-lg bg-colorInput">
    <input id="toggle-email-floating" type="email" class="input input-floating peer rounded-lg bg-colorInput"
      [class.is-invalid]="forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.touched"
      placeholder="Enter Your Email" formControlName="email"
      (focus)="showEmailPopover()"
      (blur)="hideEmailPopover()"
      aria-describedby="email-help"
      aria-invalid="forgetPasswordForm.get('email')?.invalid" />
    <label class="input-floating-label" for="toggle-email-floating">Email</label>
  </div>

  <!-- Email Validation Popover -->
  <div [class.hidden]="!isEmailPopoverVisible()"
    class="absolute z-10 w-full p-4 bg-white shadow-lg rounded-lg mt-1 top-full left-0" role="tooltip"
    id="email-help">
    <h6 class="text-base text-base-content my-2 font-semibold">Email must:</h6>
    <ul class="text-base-content/80 space-y-1 text-sm">
      <li [class.text-success]="forgetPasswordForm.get('email')?.valid" class="flex items-center gap-x-2">
        <span [class.hidden]="!forgetPasswordForm.get('email')?.valid" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
        <span [class.hidden]="forgetPasswordForm.get('email')?.valid" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
        Be a valid email address
      </li>
      <li [class.text-success]="!forgetPasswordForm.get('email')?.hasError('required')" class="flex items-center gap-x-2">
        <span [class.hidden]="forgetPasswordForm.get('email')?.hasError('required')" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
        <span [class.hidden]="!forgetPasswordForm.get('email')?.hasError('required')" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
        Not be empty
      </li>
    </ul>
  </div>
</div>


  <!-- Forgot Password Link -->
  <div class="w-full text-right mb-10">
    <a routerLink="/auth-layout/login"
      class="text-base font-normal text-colorNavLink hover:underline cursor-pointer">Are you remember it ?</a>
  </div>

  <!-- Get Verify Code In Button -->
  <button [disabled]="forgetPasswordForm.invalid || isLoading()" type="submit"
    class="w-full bg-colorNavLink text-white py-2 px-4 rounded-2xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:bg-blue-900">
    @if (isLoading()) {
    <i class="fa-solid fa-spinner fa-spin"></i>
    } @else {
    <span>Get Verify Code</span>
    }
  </button>
</form>
