<!-- subjects.component.html -->
<h2 class="text-lg font-medium text-black mb-6">Front-End Quiz</h2>
<section
  class="bg-colorBackground lg:bg-white w-full px-4 py-8 md:px-6 lg:px-8 rounded-xl lg:shadow-md mb-10"
>
  <div class="flex justify-between items-center">
    <div class="flex gap-4 items-center">
      <img src="/icons/html.png" alt="HTML Icon" />
      <div class="flex flex-col gap-1">
        <h2 class="text-lg font-medium text-black">HTML</h2>
        <span class="text-md font-normal text-gray-600">20 Questions</span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-md font-normal text-black">15 Minutes</span>
      <button
        type="button"
        class="rounded-2xl bg-colorNavLink text-white px-8 py-1 font-semibold hover:bg-blue-700 transition"
        (click)="startQuiz()"
      >
        Start
      </button>
    </div>
  </div>
</section>

@if (isQuizStarted) {
<div
  class="fixed inset-0 bg-black/50 z-50 flex items-center justify-center p-4"
>
  <div class="bg-white rounded-lg w-full max-w-2xl max-h-[90vh] flex flex-col">
    <div class="flex-1 overflow-y-auto p-6">
      <app-questions
        (quizCompleted)="completeQuiz()"
        (quizClosed)="closeQuiz()"
      />
    </div>
  </div>
</div>
}
