<nav class="pb-10 md:pb-0">
  <div class="w-full md:flex md:items-center md:gap-2">
    <div class="flex items-center justify-between">
      <div class="navbar-start items-center justify-between max-md:w-full">
        <a class="xl:hidden text-colorTitle font-bold text-2xl">Elevate</a>
        <div class="md:hidden">
          <button type="button" class="text-colorTitle collapse-toggle btn btn-outline btn-secondary btn-sm btn-square" data-collapse="#dropdownnavbar-collapse" aria-label="Toggle navigation">
            <span class="icon-[tabler--menu-2] collapse-open:hidden size-4"></span>
            <span class="icon-[tabler--x] collapse-open:block hidden size-4"></span>
          </button>
        </div>
      </div>
    </div>
    <div id="dropdownnavbar-collapse" class="md:navbar-end collapse hidden grow basis-full overflow-hidden transition-[height] duration-300 max-md:w-full">
      <ul class="menu md:menu-horizontal gap-2 xl:gap-10 p-0 text-base max-md:mt-2 md:items-center">
        <li class="dropdown relative inline-flex [--auto-close:inside] [--offset:9] [--placement:bottom-end]">
          <button id="dropdown-nav" type="button" class="justify-between dropdown-toggle dropdown-open:bg-base-content/10 dropdown-open:text-base-content" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
            English
            <span class="icon-[tabler--chevron-down] dropdown-open:rotate-180 size-4"></span>
          </button>
          <ul class="dropdown-menu dropdown-open:opacity-100 hidden" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-nav">
            <li><a class="dropdown-item">Arabic</a></li>
            <li><a class="dropdown-item">German</a></li>
          </ul>
        </li>
        <li><a routerLink="/auth-layout/login" routerLinkActive="active-link" class="nav-link">Sign in</a></li>
        <li><a routerLink="/auth-layout/register" routerLinkActive="active-link" class="nav-link">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
