<app-auth-navbar />
<!-- Main Content -->
<section class="flex flex-col items-center xl:flex-row h-[calc(100vh+1rem)] 2xl:h-[calc(100vh-12rem)] md:2xl:h-[100vh]">
  <!-- Left Side (Visible only on XL screens and above) -->
  <div
    class="hidden xl:flex flex-col items-center justify-center p-8 xl:px-80 w-1/2 absolute top-0 left-0 2xl:h-full z-50 side">
    <div class="text-center xl:text-left">
      <h2 class="font-bold text-4xl xl:text-5xl w-80">
        Welcome to <strong class="text-colorTitle">Elevate</strong>
      </h2>
      <p class="text-lg w-full xl:w-[30rem] pt-2 text-gray-900 dark:text-gray-300">
        Quidem autem voluptatibus qui quaerat aspernatur architecto natus
      </p>
      <img src="/images/sideauth.png" alt="Side Authentication" class="pt-20 w-full max-w-md mx-auto xl:mx-0">
    </div>
  </div>

  <!-- Right Side (Router Outlet - Always visible) -->
  <div class="w-full xl:w-1/2 flex items-center justify-center p-8 ml-0 xl:ml-[50%]">

    <div class="flex flex-col justify-center  w-screen max-w-md mx-auto p-6">
      <router-outlet />

      <div>
        <img src="/images/continue.png" alt="" class="w-full mt-8" />
      </div>

      <div class="flex justify-between items-center mt-8">
        <button class="bg-white border p-5 rounded-2xl shadow-md">
          <img src="/icons/google.png" alt="Logo Google" class="w-6" />
        </button>

        <button class="bg-white border p-5 rounded-2xl shadow-md">
          <img src="/icons/twitter.png" alt="Logo Twitter" class="w-6" />
        </button>

        <button class="bg-white border p-5 rounded-2xl shadow-md">
          <img src="/icons/facebook.png" alt="Logo Facebook" class="w-6" />
        </button>

        <button class="bg-white border p-5 rounded-2xl shadow-md">
          <img src="/icons/apple.png" alt="Logo Apple" class="w-6" />
        </button>
      </div>

    </div>

  </div>
</section>
