<form class="">
<h2 class="text-2xl font-bold text-gray-900 mb-8">Sign in</h2>

<div class="w-full mb-8">
  <div class="relative w-full">
    <input id="toggle-UserName-floating" type="text" class="input input-floating peer rounded-lg bg-colorInput" placeholder="Enter Your UserName" />
    <label class="input-floating-label" for="toggle-UserName-floating">UserName</label>
  </div>
</div>

<div class="w-full mb-8">
  <div class="relative w-full">
    <input id="toggle-fName-floating" type="text" class="input input-floating peer rounded-lg bg-colorInput" placeholder="Enter Your First Name" />
    <label class="input-floating-label" for="toggle-fName-floating">First Name</label>
  </div>
</div>

<div class="w-full mb-8">
  <div class="relative w-full">
    <input id="toggle-lName-floating" type="text" class="input input-floating peer rounded-lg bg-colorInput" placeholder="Enter Your Last Name" />
    <label class="input-floating-label" for="toggle-lName-floating">Last Name</label>
  </div>
</div>

<div class="w-full mb-8">
  <div class="relative w-full">
    <input id="toggle-Email-floating" type="email" class="input input-floating peer rounded-lg bg-colorInput" placeholder="Enter Your Email" />
    <label class="input-floating-label" for="toggle-Email-floating">Email</label>
  </div>
</div>

<!-- Password -->
<div class="input-group w-full mb-8 rounded-lg bg-colorInput">
  <div class="relative w-full rounded-lg bg-colorInput">
    <input
      id="toggle-password-floating"
      type="password"
      class="input input-floating peer rounded-lg bg-colorInput"
      placeholder="Enter Password"
    />
    <label class="input-floating-label" for="toggle-password-floating">Password</label>
    <div id="password-popover-content" class="card absolute z-10 w-full hidden p-4">
      <div
        data-strong-password='{
          "target": "#toggle-password-floating",
          "hints": "#password-popover-content",
          "stripClasses": "strong-password:opacity-100 strong-password-accepted:bg-teal-500 h-2 flex-auto rounded-full bg-primary opacity-40 mx-1",
          "mode": "popover"
        }'
        class="-mx-1 mt-2.5 flex"
      >
      </div>
      <h6 class="text-base text-base-content my-2 font-semibold">Your password must contain:</h6>
      <ul class="text-base-content/80 space-y-1 text-sm">
        <li data-pw-strength-rule="min-length" class="strong-password-active:text-success flex items-center gap-x-2">
          <span class="icon-[tabler--circle-check] hidden size-5 flex-shrink-0" data-check></span>
          <span class="icon-[tabler--circle-x] hidden size-5 flex-shrink-0" data-uncheck></span>
          Minimum number of characters is 6.
        </li>
        <li data-pw-strength-rule="lowercase" class="strong-password-active:text-success flex items-center gap-x-2">
          <span class="icon-[tabler--circle-check] hidden size-5 flex-shrink-0" data-check></span>
          <span class="icon-[tabler--circle-x] hidden size-5 flex-shrink-0" data-uncheck></span>
          Should contain lowercase.
        </li>
        <li data-pw-strength-rule="uppercase" class="strong-password-active:text-success flex items-center gap-x-2">
          <span class="icon-[tabler--circle-check] hidden size-5 flex-shrink-0" data-check></span>
          <span class="icon-[tabler--circle-x] hidden size-5 flex-shrink-0" data-uncheck></span>
          Should contain uppercase.
        </li>
        <li data-pw-strength-rule="numbers" class="strong-password-active:text-success flex items-center gap-x-2">
          <span class="icon-[tabler--circle-check] hidden size-5 flex-shrink-0" data-check></span>
          <span class="icon-[tabler--circle-x] hidden size-5 flex-shrink-0" data-uncheck></span>
          Should contain numbers.
        </li>
        <li data-pw-strength-rule="special-characters" class="strong-password-active:text-success flex items-center gap-x-2">
          <span class="icon-[tabler--circle-check] hidden size-5 flex-shrink-0" data-check></span>
          <span class="icon-[tabler--circle-x] hidden size-5 flex-shrink-0" data-uncheck></span>
          Should contain special characters.
        </li>
      </ul>
    </div>
  </div>
  <span class="input-group-text !rounded-lg !bg-colorInput">
    <button
      type="button"
      data-toggle-password='{ "target": "#toggle-password-floating" }'
      class="block"
      aria-label="password toggle"
    >
      <span class="icon-[tabler--eye] text-base-content/80 password-active:block hidden size-5 flex-shrink-0"></span>
      <span class="icon-[tabler--eye-off] text-base-content/80 password-active:hidden block size-5 flex-shrink-0"></span>
    </button>
  </span>
</div>

<!-- Confirm Password -->
<div class="input-group w-full mb-8 rounded-lg bg-colorInput">
  <div class="relative w-full">
    <input id="toggle-rePassword-floating" type="password" class="input input-floating peer rounded-lg bg-colorInput" placeholder="Confirm Password" />
    <label class="input-floating-label" for="toggle-rePassword-floating">Confirm Password</label>
  </div>
  <span class="input-group-text !bg-colorInput !rounded-lg">
    <button type="button" data-toggle-password='{ "target": "#toggle-rePassword-floating" }' class="block" aria-label="password toggle">
      <span class="icon-[tabler--eye] text-base-content/80 password-active:block hidden size-5 flex-shrink-0"></span>
      <span class="icon-[tabler--eye-off] text-base-content/80 password-active:hidden block size-5 flex-shrink-0"></span>
    </button>
  </span>
</div>


  <!-- Back to Login -->
  <div class="w-full text-center mb-10">
    <span class="font-medium">Already have an account?<a routerLink="/auth-layout/login"
        class="text-base text-colorNavLink hover:underline cursor-pointer"> Login</a></span>
  </div>

  <!-- Sign up Button -->
  <button type="submit"
    class="w-full bg-colorNavLink text-white py-2 px-4 rounded-2xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
    Sign up
  </button>
</form>
