<form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCodeSubmit()" aria-labelledby="verify-code-form-title">
  <h2 id="verify-code-form-title" class="text-2xl font-bold text-gray-900 mb-8">Verify Code</h2>

  <!-- Verify Code -->
  <div class="w-full mb-8">
    <div class="relative w-full">
      <input id="resetCode" type="text" class="input input-floating peer rounded-lg bg-colorInput"
        [class.is-invalid]="verifyCodeForm.get('resetCode')?.invalid && verifyCodeForm.get('resetCode')?.touched"
        placeholder="Enter Reset Code" formControlName="resetCode" aria-describedby="resetCode-error" />
      <label class="input-floating-label" for="resetCode">Enter Code</label>
    </div>
  </div>

  <!-- Resend Code Link -->
  <div class="w-full text-right mb-10">
    <span class="font-medium">Didn't receive a code?<a
        class="text-base text-colorNavLink hover:underline cursor-pointer" routerLink="/auth-layout/forget-password">
        Resend</a></span>
  </div>

  <!-- Verify Button -->
  <button [disabled]="verifyCodeForm.invalid || isLoading()" type="submit"
    class="w-full bg-colorNavLink text-white py-2 px-4 rounded-2xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:bg-blue-900"
    aria-live="polite">
    @if (isLoading()) {
    <i class="fa-solid fa-spinner fa-spin"></i>
    } @else {
    <span>Verify</span>
    }
  </button>
</form>