<form class="">
  <h2 class="text-2xl font-bold text-gray-900 mb-8">Verify code</h2>


  <div class="w-full mb-8">
    <div class="relative w-full">
      <input id="toggle-code-floating" type="text" class="input input-floating peer rounded-lg bg-colorInput" placeholder="Enter Code" />
      <label class="input-floating-label" for="toggle-code-floating">Verify Code</label>
    </div>
  </div>

  <!-- Forgot Password Link -->
  <div class="w-full text-right mb-10">
    <span class="font-medium">Didn't receive a code?<a
        class="text-base text-colorNavLink hover:underline cursor-pointer"> Resend</a></span>
  </div>
  <!-- Sign In Button -->
  <button type="submit"
    class="w-full bg-colorNavLink text-white py-2 px-4 rounded-2xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
    Verify
  </button>
  </form>
