<form class="">
  <h2 class="text-2xl font-bold text-gray-900 mb-8">Set Password</h2>

  <!-- Password -->
  <div class="input-group w-full mb-8 rounded-lg bg-colorInput">
    <div class="relative w-full rounded-lg bg-colorInput">
      <input id="toggle-password-floating" type="password" class="input input-floating peer rounded-lg bg-colorInput" placeholder="Create Password" />
      <label class="input-floating-label" for="toggle-password-floating">New Password</label>
    </div>
    <span class="input-group-text !rounded-lg !bg-colorInput">
      <button type="button" data-toggle-password='{ "target": "#toggle-password-floating" }' class="block" aria-label="password toggle">
        <span class="icon-[tabler--eye] text-base-content/80 password-active:block hidden size-5 flex-shrink-0"></span>
        <span class="icon-[tabler--eye-off] text-base-content/80 password-active:hidden block size-5 flex-shrink-0"></span>
      </button>
    </span>
  </div>

    <!-- rePassword -->
    <div class="input-group w-full mb-8 rounded-lg bg-colorInput">
      <div class="relative w-full rounded-lg bg-colorInput">
        <input id="toggle-rePassword-floating" type="password" class="input input-floating peer rounded-lg bg-colorInput" placeholder="RE-enter Password" />
        <label class="input-floating-label" for="toggle-rePassword-floating">Confirm Password</label>
      </div>
      <span class="input-group-text !rounded-lg !bg-colorInput">
        <button type="button" data-toggle-password='{ "target": "#toggle-rePassword-floating" }' class="block" aria-label="password toggle">
          <span class="icon-[tabler--eye] text-base-content/80 password-active:block hidden size-5 flex-shrink-0"></span>
          <span class="icon-[tabler--eye-off] text-base-content/80 password-active:hidden block size-5 flex-shrink-0"></span>
        </button>
      </span>
    </div>

  <!-- Sign In Button -->
  <button type="submit"
    class="w-full bg-colorNavLink text-white py-2 px-4 rounded-2xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
    Sign in
  </button>
  </form>
