<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()" aria-labelledby="resetPassword-form-title">
  <h2 id="resetPassword-form-title" class="text-2xl font-bold text-gray-900 mb-8">Set Password</h2>

  <!-- New Password -->
  <div class="input-group w-full mb-8 rounded-lg bg-colorInput relative">
    <div class="relative w-full rounded-lg bg-colorInput">
      <input id="toggle-newPassword-floating" [type]="showPassword() ? 'text' : 'password'"
        class="input input-floating peer rounded-lg bg-colorInput"
        [class.is-invalid]="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
        placeholder="Please Create Your New Password" formControlName="newPassword" (focus)="showPopover()"
        (blur)="hidePopover()" aria-describedby="newPassword-help"
        aria-invalid="resetPasswordForm.get('newPassword')?.invalid" />
      <label class="input-floating-label" for="toggle-newPassword-floating">Create Password</label>
    </div>
    <span class="input-group-text !rounded-lg !bg-colorInput">
      <button type="button" (click)="togglePasswordVisibility()" class="block" aria-label="Toggle password visibility">
        <span class="icon-[tabler--eye] text-base-content/80 size-5 flex-shrink-0"
          [class.hidden]="!showPassword()"></span>
        <span class="icon-[tabler--eye-off] text-base-content/80 size-5 flex-shrink-0"
          [class.hidden]="showPassword()"></span>
      </button>
    </span>

    <!-- Password Strength Popover -->
    <div [class.hidden]="!isPopoverVisible()"
      class="absolute z-10 w-full p-4 bg-white shadow-lg rounded-lg mt-1 top-full left-0" role="tooltip"
      id="newPassword-help">
      <div class="strength-meter flex -mx-1 mt-2.5">
        @for (i of [1, 2, 3, 4, 5]; track i) {
        <div [class.bg-blue-600]="i <= strengthLevel()" [class.bg-blue-900]="i > strengthLevel()"
          class="h-2 flex-auto rounded-full mx-1"></div>
        }
      </div>
      <h6 class="text-base text-base-content my-2 font-semibold">Your password must contain:</h6>
      <ul class="text-base-content/80 space-y-1 text-sm">
        <li [class.text-success]="isMinLengthMet()" class="flex items-center gap-x-2">
          <span [class.hidden]="!isMinLengthMet()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="isMinLengthMet()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          Minimum number of characters is 8.
        </li>
        <li [class.text-success]="hasLowercase()" class="flex items-center gap-x-2">
          <span [class.hidden]="!hasLowercase()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="hasLowercase()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          At least one lowercase letter.
        </li>
        <li [class.text-success]="hasUppercase()" class="flex items-center gap-x-2">
          <span [class.hidden]="!hasUppercase()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="hasUppercase()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          At least one uppercase letter.
        </li>
        <li [class.text-success]="hasNumber()" class="flex items-center gap-x-2">
          <span [class.hidden]="!hasNumber()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="hasNumber()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          At least one number.
        </li>
        <li [class.text-success]="hasSpecialChar()" class="flex items-center gap-x-2">
          <span [class.hidden]="!hasSpecialChar()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="hasSpecialChar()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          At least one special character.
        </li>
      </ul>
    </div>
  </div>

  <!-- Confirm Password -->
  <div class="input-group w-full mb-8 rounded-lg bg-colorInput relative">
    <div class="relative w-full rounded-lg bg-colorInput">
      <input id="toggle-confirm-password-floating" [type]="showConfirmPassword() ? 'text' : 'password'"
        class="input input-floating peer rounded-lg bg-colorInput"
        [class.is-invalid]="resetPasswordForm.errors && resetPasswordForm.touched && resetPasswordForm.get('rePassword')?.touched"
        placeholder="Please Re-enter Your New Password" formControlName="rePassword"
        aria-describedby="confirmPassword-help" aria-invalid="resetPasswordForm.get('rePassword')?.invalid" />
      <label class="input-floating-label" for="toggle-confirm-password-floating">Re-enter Password</label>
    </div>
    <span class="input-group-text !rounded-lg !bg-colorInput">
      <button type="button" (click)="toggleConfirmPasswordVisibility()" class="block"
        aria-label="Toggle confirm password visibility">
        <span class="icon-[tabler--eye] text-base-content/80 size-5 flex-shrink-0"
          [class.hidden]="!showConfirmPassword()"></span>
        <span class="icon-[tabler--eye-off] text-base-content/80 size-5 flex-shrink-0"
          [class.hidden]="showConfirmPassword()"></span>
      </button>
    </span>
  </div>

  <!-- Sign In Button -->
  <button [disabled]="resetPasswordForm.invalid || isLoading()" type="submit"
    class="w-full bg-colorNavLink text-white py-2 px-4 rounded-2xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:bg-blue-900"
    aria-label="Submit reset password form">
    @if (isLoading()) {
    <i class="fa-solid fa-spinner fa-spin"></i>
    } @else {
    <span>Sign in</span>
    }
  </button>
</form>