<form [formGroup]="loginForm" (ngSubmit)="LoginSubmit()" aria-labelledby="login-form-title">

  <!-- Title -->
  <h2 class="text-2xl font-bold text-gray-900 mb-8">Sign in</h2>

<!-- Email -->
<div class="input-group w-full mb-8 rounded-lg bg-colorInput relative">
  <div class="relative w-full rounded-lg bg-colorInput">
    <input id="toggle-email-floating" type="email" class="input input-floating peer rounded-lg bg-colorInput"
      [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
      placeholder="Enter Your Email" formControlName="email"
      (focus)="showEmailPopover()"
      (blur)="hideEmailPopover()"
      aria-describedby="email-help"
      aria-invalid="forgetPasswordForm.get('email')?.invalid" />
    <label class="input-floating-label" for="toggle-email-floating">Email</label>
  </div>

  <!-- Email Validation Popover -->
  <div [class.hidden]="!isEmailPopoverVisible()"
    class="absolute z-10 w-full p-4 bg-white shadow-lg rounded-lg mt-1 top-full left-0" role="tooltip"
    id="email-help">
    <h6 class="text-base text-base-content my-2 font-semibold">Email must:</h6>
    <ul class="text-base-content/80 space-y-1 text-sm">
      <li [class.text-success]="loginForm.get('email')?.valid" class="flex items-center gap-x-2">
        <span [class.hidden]="!loginForm.get('email')?.valid" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
        <span [class.hidden]="loginForm.get('email')?.valid" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
        Be a valid email address
      </li>
      <li [class.text-success]="!loginForm.get('email')?.hasError('required')" class="flex items-center gap-x-2">
        <span [class.hidden]="loginForm.get('email')?.hasError('required')" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
        <span [class.hidden]="!loginForm.get('email')?.hasError('required')" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
        Not be empty
      </li>
    </ul>
  </div>
</div>


  <!-- Password -->
  <div class="input-group w-full mb-8 rounded-lg bg-colorInput relative">
    <!-- Password Input with Toggle -->
    <div class="relative w-full rounded-lg bg-colorInput">
      <input id="toggle-password-floating" [type]="showPassword() ? 'text' : 'password'"
        class="input input-floating peer rounded-lg bg-colorInput"
        [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        placeholder="Enter Password" formControlName="password" (focus)="showPopover()" (blur)="hidePopover()" />
      <label class="input-floating-label" for="toggle-password-floating">Password</label>
    </div>
    <span class="input-group-text !rounded-lg !bg-colorInput">
      <button type="button" (click)="togglePasswordVisibility()" class="block" aria-label="password toggle">
        <span class="icon-[tabler--eye] text-base-content/80 size-5 flex-shrink-0"
          [class.hidden]="!showPassword()"></span>
        <span class="icon-[tabler--eye-off] text-base-content/80 size-5 flex-shrink-0"
          [class.hidden]="showPassword()"></span>
      </button>
    </span>

    <!-- Password Strength Popover -->
    <div [class.hidden]="!isPopoverVisible()"
      class="absolute z-10 w-full p-4 bg-white shadow-lg rounded-lg mt-1 top-full left-0">
      <div class="strength-meter flex -mx-1 mt-2.5">
        @for (i of [1, 2, 3, 4, 5]; track i) {
        <div [class.bg-blue-600]="i <= strengthLevel()" [class.bg-blue-900]="i > strengthLevel()"
          class="h-2 flex-auto rounded-full mx-1"></div>
        }
      </div>
      <h6 class="text-base text-base-content my-2 font-semibold">Your password must contain:</h6>
      <ul class="text-base-content/80 space-y-1 text-sm">
        <li [class.text-success]="isMinLengthMet()" class="flex items-center gap-x-2">
          <span [class.hidden]="!isMinLengthMet()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="isMinLengthMet()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          Minimum number of characters is 8.
        </li>
        <li [class.text-success]="hasLowercase()" class="flex items-center gap-x-2">
          <span [class.hidden]="!hasLowercase()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="hasLowercase()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          At least one lowercase letter.
        </li>
        <li [class.text-success]="hasUppercase()" class="flex items-center gap-x-2">
          <span [class.hidden]="!hasUppercase()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="hasUppercase()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          At least one uppercase letter.
        </li>
        <li [class.text-success]="hasNumber()" class="flex items-center gap-x-2">
          <span [class.hidden]="!hasNumber()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="hasNumber()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          At least one number.
        </li>
        <li [class.text-success]="hasSpecialChar()" class="flex items-center gap-x-2">
          <span [class.hidden]="!hasSpecialChar()" class="icon-[tabler--circle-check] size-5 flex-shrink-0"></span>
          <span [class.hidden]="hasSpecialChar()" class="icon-[tabler--circle-x] size-5 flex-shrink-0"></span>
          At least one special character.
        </li>
      </ul>
    </div>
  </div>

  <!-- Forgot Password Link -->
  <div class="w-full text-right mb-10">
    <a routerLink="/auth-layout/reset-password-layout"
      class="text-base font-normal text-colorNavLink hover:underline cursor-pointer">
      Recover Password ?
    </a>
  </div>

  <!-- Sign In Button -->
  <app-submit-button
  text="Sign In"
  [disabled]="loginForm.invalid"
  [isLoading]="isLoading()"
  type="submit"
  variant="primary"
></app-submit-button>
</form>
